@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Lexend+Deca&family=Outfit:wght@400;700&family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Poppins:wght@200;400;600&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
/*styling main container mobile work flow*/
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 327px;
    height: 1326px;
    border-radius: 8px 8px 0 0;
   
  

}
/*stylying sedans*/
.sedans {
    height: 442px;
    background-color:hsl(31, 77%, 52%);
    border-radius: 8px 8px 0 0;
  


}


img {
    
    width: 63.91px;
    height: 40px;
    margin-top: 48px;
    margin-left: 49px;
}

h1 {
    width: 99px;
    height: 48px;
    margin-top: 35px;
    margin-left: 49px;
    font-size: 40px;
    font-weight: 700px;
    font-family: Big Shoulders Display;
    color:#F2F2F2;
    text-transform: uppercase;
}

p {
    width: 231px;
    height: 125px;
   margin-top:25px;
   margin-left: 48.5px;
    font-weight: 400;
    font-family: lexend deca;
    font-size: 15px;
    color: #FFFFFF;
    opacity: 0.75;
    line-height: 25px;
    
}

button {
    width: 146px;
    height: 48px;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 48px;
    margin-left: 49px;
    border: solid 1px;
    background: #F2F2F2;
    color: #E28625;
    font-family:lexend Deca;
    font-weight: 400;
    font-size: 15px;
    
    


}

/*stylygin suv container */
.SUV {
    background-color: hsl(184, 100%, 22%);
    height: 442px;
}

.suv-image {
    width: 63.99px;
    height: 40px;
    margin-left: 49px;
    margin-top: 48px;
}

.suv-header {
    width: 67px;
    height: 48px;
    margin-top: 35px;
    font-size: 40px;
    
}

.suv-text {
width: 231px;
height: 125px;
font-weight: 400;
font-style: normal;
}

.suv-button {
    width: 146px;
    height: 48px;
    color: #006971;
    line-height: 25px;

}

/*stylying luxury*/
.luxury {
    background-color: hsl(179, 100%, 13%);
    width:  327px;
    height: 442px;
    border-radius: 0 0 8px 8px;
    
}
.luxury-header{
    width: 95px;
    height: 48px;
    margin-top: 35px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47.88px;
}
.luxury-button {
    color:  #004140;
}

@media screen and (min-width: 920px){
    .main-container {
        flex-direction: row;
        width: 921px;
        height: 500px;
        background-color: #F2F2F2;
        flex-wrap:wrap;
        margin-top: 50px;
        
    }
.sedans {
    
    height: 500px;
    width: 307px;
    border-radius: 8px 0 0 8px ;

}

p {
    width: 212px;
    height: 125px;
    margin-left: 47.5px; 
}
    
    button {
        margin-top: 50px;
        

       
    }


.SUV {
    width: 307px;
    height: 500px;
    border-radius: 0;
}


.luxury {
    width: 307px;
    height: 500px;
    border-radius: 0 8px 8px 0px;
  
}

button:hover {
    cursor: pointer;
    background-color: #E28625;
    color: #F2F2F2;
}

.suv-button:hover {

    background-color:#006971;
    color: #F2F2F2;
}

.luxury-button:hover {
    background-color:#004140;
    color: #F2F2F2;
}
}